.container {
  text-align: left;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: 150;
  margin: 0;
  text-align: left;
  align-self: flex-start;
}

.imageContainer {
  position: relative;
  display: inline-block;
  min-width: 400px;
  /* Adjust based on image size */
  min-height: 400px;
  /* Adjust based on image size */
}

.imageContainer img {
  position: absolute;
  /* Instead of relative */
  filter: grayscale();
}

.imageContainer img:hover {
  filter: grayscale(0);
}

.performanceImage {
  top: 0%;
  left: 44%;
  width: 105%;
  z-index: 2;
}

.visualImage {
  top: 20%;
  left: -40%;
  width: 100%;
  z-index: 1;
}

.profileImage {
  top: -45%;
  left: -5%;
  width: 60%;
  z-index: 3;
}

.description {
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.6;
  color: #ffffff;
  padding: 0px;
  margin: 0px;
}

.detail {
  font-weight: 120;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  text-align: left;
  align-self: flex-start;
}