/* Header.module.css */
.header {
  display: flex;
  position: fixed;  /* Use 'fixed' instead of 'absolute' */
  top: 0;  /* Anchor to the top of the viewport */
  left: 0;  /* Anchor to the left of the viewport */
  right: 0;  /* Ensure it spans the full width */
  justify-content: space-around; /* Space the links evenly */
  align-items: center;
  padding: 20px;
  background-color: transparent;
  z-index: 10; /* Ensure it's above other content */
}

.navLink {
  text-decoration: none;
  color: #ffffff;
  font-size: 2.0rem;
  cursor: pointer;
  font-family: "Grandiflora One", cursive;
  font-weight: 400;
  font-style: normal;
}

.navLink:hover {
  text-decoration: underline;
}
